            </div>

            <a href="index.html" class="back-link">&larr; Back to Examples</a>
        </div>

        <script type="module" src="{{scriptFile}}.ts"></script>

        <noscript>
            <div class="error"><strong>Error:</strong> JavaScript is required to run this example.</div>
        </noscript>
    </body>
</html>

